h1, h2, h3, h4, h5, h6 {
    font-family: serif;
}

h2 {
    margin-bottom: .3em;
}

.body-inner {
    font-family: sans-serif;
}

code.lang-javascript {
    line-height: 1.1;
}

p.comments-section {
    line-height: 1.3;
    letter-spacing: .2px;
}